@media only screen and (max-width: 1200px) {
    .navbar li {
        flex-direction: column;
        margin: 10px 0px;
    }
    
    .top {
        flex-direction: column;
        text-align: center;
    }
    
    .h-nav {
        background-color: #090831 !important;
        height: 72px !important;
    }

    .menu {
        background-color: #090831;

        position: absolute;
        top: 1%;
        right: 80px;
    }
    .notTop {
        background-color: #fff;
        color: #090831;
    }

    .cards {
        width: 80%;
        height: 300px;
        text-align: center;
        margin: 20px auto;
    }

    .row_ {
        padding-top: 52rem !important;
    }
    .awardsTitle {
        margin-top: 50rem;
    }
    .awardsCard {
        width: 40%;
        border: 1px rgb(230, 230, 230) solid;
        height: 20rem;

    }

    footer .awardsTitle{
        margin-top: -5rem !important;
    }
    .burger {
        display: block;
    }
    .o-nav {
        opacity: 0;
    }
    .height {
        padding: 0px 100px;
    }
    .notTop {
        height: 100px;
    }
    .contact .container {
        width: 100%;
    }

    .scrolledNav {
        background-color: white !important;
    }
}

@media only screen and (max-width: 900px) {
    
    .awardsCard {
        display: block;
        width: 80%;
        height: 15rem;
    }

    .awardsYear {
        padding-top: 40px;
    }
   
}

@media only screen and (max-width: 610px) {
    .awardsCard {
        height: 18rem;
    }
    .footerCard {
        display: block;
    }
}