:root {
    --clr-alpha: #04007a;
    --clr-beta: #ffffff;
    --clr-gamma: #1f2522;
}

*,
*::after, 
*::before {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: var(--clr-beta);

    min-height: 200vh;
}

a {
    text-decoration: none;
}

header {
    padding: 20px 100px;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;

    background-color: var(--clr-alpha);
}

header .logo {
    position: relative;
    font-weight: 700;
    color: var(--clr-beta);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    color: var(--clr-beta);
    
    position: relative;
    margin: 0 15px;
}

header ul li a:hover {
    color: rgb(180, 180, 180);

}

.banner {
    position: relative;
    width: 100%;
    margin-top: 80px;
    height: 100vh;

    background: url('resources/images/backdrop.png') no-repeat center fixed;
    background-color: #1f2522;
}